<div class="overlay__arrow overlay__arrow--prev">
  <img src="/assets/icons/arrow-left.svg" alt="arrow left" />
</div>
<div class="overlay__arrow overlay__arrow--next">
  <img src="/assets/icons/arrow-right.svg" alt="arrow right" />
</div>
<div class="overlay__image">
  <img src="" alt="" data-src="/assets/images" />
</div>
<div class="overlay__details">
  <div class="overlay__details--top">
    <div class="overlay__details--type">
      <p class="beer__availability">Year-Round | Our Core Lineup</p>
      <p class="beer__name">F5</p>
    </div>
    <button class="btn btn__find">Find This</button>
  </div>
  <div class="overlay__details--desc">
    <p>
      A straightforward malt body supports the distinctive bouquet of
      Columbus and Falconer’s Flight hops that impart citrus, grapefruit
      and pine notes characteristic of the West Coast style. F5 is a
      belligerent hop reckoning.
    </p>
  </div>
  <div class="overlay__details--data">
    <div class="overlay__details--data__row">
      <p>Style</p>
      <p class="beer__style"></p>
    </div>
    <div class="overlay__details--data__row">
      <p>Alc/Vol</p>
      <p class="beer__alc"></p>
    </div>
    <div class="overlay__details--data__row">
      <p>IBU</p>
      <p class="beer__ibu"></p>
    </div>
  </div>
  <p class="overlay__details--bottom">
    Available in 6 pack 12 FL OZ Cans or on draft.
  </p>
</div>
<button class="btn btn__close">Close</button>