<div class="social-media">
  <div class="social-media__box">
    <i class="fab fa-instagram"></i>
  </div>
  <div class="social-media__box">
    <i class="fab fa-facebook-f"></i>
  </div>
  <div class="social-media__box">
    <i class="fab fa-twitter"></i>
  </div>
  <div class="social-media__box">
    <i class="fab fa-youtube"></i>
  </div>
</div>

<div class="footer-center">
  <div class="footer-center__title">
    <h2>The Old Sailor</h2>
    <h3>Ale Works</h3>
  </div>
</div>

<div class="nav-menu">
  <p>Menu</p>
  <div class="nav-menu__bars">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>