<!-- main navigation container left-side icons and right-side menu icon -->
<nav class="main-nav">
  <div class="nav-icons">
    <i class="fas fa-beer nav-icon" data-icon="beer"></i>
    <i class="far fa-calendar-alt nav-icon" data-icon="events"></i>
    <i class="fab fa-untappd nav-icon" data-icon="taproom"></i>
  </div>
  <a href="/" class="nav-logo">
    <img src="/assets/images/old-sailor-logo.png" alt="coop ale logo" />
  </a>
  <div class="nav-menu">
    <p>Menu</p>
    <div class="nav-menu__bars">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>

<!-- side navigation that slides in from the right-side of screen when user clicks menu icon -->
<nav class="side-nav">
  <div class="side-nav__title">
    <h2>The Old Sailor</h2>
    <h3>Ale Works</h3>
  </div>

  <i class="fas fa-times"></i>

  <div class="side-nav__menu">
    <div class="side-nav__menu--header">
      <h2>High Quality, Full Flavor Beer</h2>
      <h2>Brewed in Oklahoma City</h2>
    </div>

    <div class="side-nav__menu--list">
      <a href="/beers">Our Beer</a>
      <a href="/events">Events</a>
      <a href="/beer-locator">Beer Locator</a>
      <a href="/taproom">Taproom</a>
      <a href="/about">About Us</a>
      <a href="/contact">Contact</a>
    </div>
  </div>
</nav>